/SockServer

/System

/Lib

/3rd_lib

/lua

/lua_lib

/tool/zgc_ui/card_elem/Resources/card_elem_PList.Dir

/proj.win32/Debug.win32
/tool/zgc_ui/battle/Backup
/tool/zgc_ui/battle/Export
/tool/zgc_ui/battle/Resources/battle_elem_PList.Dir
/tool/zgc_ui/battle/Resources/card_elem_PList.Dir
/tool/zgc_ui/battle/Resources/ui_elem_PList.Dir
/tool/zgc_ui/card_elem/Backup
/Temp
/CommonLogic/Debug
/tool/studio/burn_buf/Export
/tool/studio/burn_buf/Resources/anim_elem_PList.Dir
/tool/studio/anim_hide/Backup
/tool/studio/anim_hide/Export
/tool/studio/anim_hide/Resources/anim_elem_PList.Dir
/tool/studio/clear_buf/Backup
/tool/studio/clear_buf/Export
/tool/studio/clear_buf/Resources/anim_elem_PList.Dir
/tool/zgc_ui/card_elem/Export
/tool/zgc_ui/select/Export
/tool/zgc_ui/select/Resources/ui_elem_PList.Dir
/tool/zgc_ui/select/Backup
/tool/studio/secret_enter/Export
/tool/studio/secret_enter/Backup
/tool/studio/secret_enter/Resources/ui_elem_PList.Dir

/tool/studio/to_rush/Backup

/tool/studio/to_rush/Export

/tool/studio/to_rush/Resources/anim_elem2_PList.Dir
/tool/studio/damage_atkadd/Backup
/tool/studio/damage_atkadd/Export
/tool/studio/damage_atkadd/Resources/anim_elem2_PList.Dir
/tool/studio/kill/Backup
/tool/studio/kill/Export
/tool/studio/kill/Resources/anim_elem2_PList.Dir
/tool/studio/kill_/Backup
/tool/studio/kill_/Resources/anim_elem_PList.Dir
/tool/studio/absorb/Backup
/tool/studio/absorb/Export

/tool/studio/absorb/Resources/anim_elem2_PList.Dir

/tool/studio/gen_circle/Resources/anim_elem_PList.Dir/gen_rotate.png

/tool/studio/gen_circle/Backup/NormalCloseTag.xml
/tool/studio/yinu/Backup
/tool/studio/yinu/Export
/tool/studio/yinu/Resources/anim_elem2_PList.Dir
/tool/studio/quest_i/Backup
/tool/studio/quest_i/Export
/tool/studio/quest_i/Resources/anim_elem2_PList.Dir
/tool/studio/sp_rate/Backup
/tool/studio/sp_rate/Export
/tool/studio/sp_rate/Resources/anim_elem2_PList.Dir
/tool/studio/rush/Backup
/tool/studio/rush/Export
/tool/studio/rush/Resources/anim_elem2_PList.Dir
/tool/studio/dead_atkadd/Backup

/tool/studio/dead_atkadd/Export

/tool/studio/dead_atkadd/Resources/anim_elem_PList.Dir
/tool/studio/dead_curse/Backup
/tool/studio/dead_curse/Export
/tool/studio/dead_curse/Resources/anim_elem_PList.Dir
/tool/studio/kingkong_word/Backup
/tool/studio/kingkong_word/Resources/anim_elem_PList.Dir
/tool/studio/curse_dead/Backup
/tool/studio/curse_dead/Resources/anim_elem_PList.Dir
/tool/studio/kingkong_word/Export
/tool/studio/curse/Backup
/tool/studio/curse/Export
/tool/studio/curse/Resources/anim_elem_PList.Dir

/tool/studio/cuthead/Backup

/tool/studio/cuthead/Export

/tool/studio/cuthead/Resources/cut_head_PList.Dir

/tool/studio/catch_card/Backup

/tool/studio/catch_card/Export

/tool/studio/catch_card/Resources/anim_elem2_PList.Dir

/tool/studio/hp_bless/Backup

/tool/studio/hp_bless/Export

/tool/studio/hp_bless/Resources/anim_elem2_PList.Dir
/tool/studio/fire_down/Backup
/tool/studio/fire_down/Export
/tool/studio/fire_down/Resources/dragon_move_PList.Dir
/tool/studio/strange/Backup

/tool/studio/strange/Export
/tool/studio/strange/Resources/anim_elem2_PList.Dir
/tool/studio/pray_card/Backup
/tool/studio/pray_card/Export
/tool/studio/pray_card/Resources/anim_elem2_PList.Dir

/tool/studio/soldier_cast/Backup

/tool/studio/soldier_cast/Export
/tool/studio/soldier_cast/Resources/anim_elem2_PList.Dir
/tool/studio/pray_other_ability/Backup
/tool/studio/pray_other_ability/Export
/tool/studio/pray_other_ability/Resources/anim_elem2_PList.Dir
/tool/studio/dist_ability/Backup
/tool/studio/dist_ability/Export
/tool/studio/dist_ability/Resources/anim_elem2_PList.Dir
/tool/zgc_ui/cardBack/Backup
/tool/zgc_ui/cardBack/Export
/tool/zgc_ui/cardBack/Resources/card_elem_PList.Dir
/Resources/data/record/abc.rec
/Resources/glew32.dll
/Resources/libCocosDenshion.dll
/Resources/libcocos2d.dll
/Resources/libtiff.dll
/Resources/pthreadVCE2.dll
/Resources/zgc.exe
/Resources/zlib1.dll

/tool/studio/click_down/Backup

/tool/studio/click_down/Export

/tool/studio/click_down/Resources/anim_elem2_PList.Dir
/tool/zgc_ui/hero_talk/Backup
/tool/zgc_ui/hero_talk/Export
/tool/zgc_ui/hero_talk/Resources/battle_elem_PList.Dir
/tool/studio/doDamage/Backup
/tool/studio/doDamage/Export
/tool/studio/doDamage/Resources/cut_head_PList.Dir

/jgcrypt/Debug
/System_

/jgcrypt/jgcrypt.log
/tool/zgc_ui/game_result/Backup
/tool/zgc_ui/game_result/Export
/tool/zgc_ui/game_result/Resources/game_result_PList.Dir
/tool/zgc_ui/stage_wait/Backup
/tool/zgc_ui/stage_wait/Export

/tool/zgc_ui/gameResult/Backup

/tool/zgc_ui/gameResult/Export
/tool/zgc_ui/gameResult/Resources/game_result_PList.Dir
/tool/zgc_ui/cardGroup/Backup
/tool/zgc_ui/cardGroup/Export
/tool/zgc_ui/miniCard/Backup
/tool/zgc_ui/miniCard/Export
/tool/zgc_ui/miniCard/Resources/card_sort_PList.Dir
/tool/zgc_ui/cardGroup/Resources/card_sort_PList.Dir
/tool/zgc_ui/cardGroup/Resources/card_elem_PList.Dir

/tool/zgc_ui/popMsg/Backup

/tool/zgc_ui/popMsg/Export

/tool/zgc_ui/popMsg/Resources/popMsg_PList.Dir
/tool/zgc_ui/cardGroup/Resources/popMsg_PList.Dir
/tool/zgc_ui/record_panel/Backup
/tool/zgc_ui/record_panel/Export
/tool/zgc_ui/record_panel/Resources/battle_elem_PList.Dir

/tool/zgc_ui/MainMenu/Backup

/tool/zgc_ui/MainMenu/Export

/tool/zgc_ui/MainMenu/Resources/ui_elem_PList.Dir
/tool/zgc_ui/shop/Backup
/tool/zgc_ui/shop/Export
/tool/zgc_ui/shop/Resources/shop_PList.Dir

/tool/zgc_ui/addRes/Backup

/tool/zgc_ui/addRes/Export
/tool/zgc_ui/addRes/Resources/card_sort_PList.Dir
/tool/studio/addRes/Backup
/tool/studio/addRes/Export
/tool/studio/addRes/Resources/anim_elem2_PList.Dir
/tool/zgc_ui/genCard/Backup
/tool/zgc_ui/genCard/Export
