/SockServer

/System

/Lib

/3rd_lib

/lua

/lua_lib

/tool/zgc_ui/card_elem/Resources/card_elem_PList.Dir

/proj.win32/Debug.win32
/tool/zgc_ui/battle/Backup
/tool/zgc_ui/battle/Export
/tool/zgc_ui/battle/Resources/battle_elem_PList.Dir
/tool/zgc_ui/battle/Resources/card_elem_PList.Dir
/tool/zgc_ui/battle/Resources/ui_elem_PList.Dir
/tool/zgc_ui/card_elem/Backup
/Temp
/CommonLogic/Debug
/tool/studio/burn_buf/Export
/tool/studio/burn_buf/Resources/anim_elem_PList.Dir
/tool/studio/anim_hide/Backup
/tool/studio/anim_hide/Export
/tool/studio/anim_hide/Resources/anim_elem_PList.Dir
/tool/studio/clear_buf/Backup
/tool/studio/clear_buf/Export
/tool/studio/clear_buf/Resources/anim_elem_PList.Dir
/tool/zgc_ui/card_elem/Export
/tool/zgc_ui/select/Export
/tool/zgc_ui/select/Resources/ui_elem_PList.Dir
/tool/zgc_ui/select/Backup
/tool/studio/secret_enter/Export
/tool/studio/secret_enter/Backup
/tool/studio/secret_enter/Resources/ui_elem_PList.Dir

/tool/studio/to_rush/Backup

/tool/studio/to_rush/Export

/tool/studio/to_rush/Resources/anim_elem2_PList.Dir
