/SockServer

/System

/Lib

/3rd_lib

/lua

/lua_lib

/tool/zgc_ui/card_elem/Resources/card_elem_PList.Dir

/proj.win32/Debug.win32
/tool/zgc_ui/battle/Backup
/tool/zgc_ui/battle/Export
/tool/zgc_ui/battle/Resources/battle_elem_PList.Dir
/tool/zgc_ui/battle/Resources/card_elem_PList.Dir
/tool/zgc_ui/battle/Resources/ui_elem_PList.Dir
/tool/zgc_ui/card_elem/Backup
/Temp
/CommonLogic/Debug
/tool/studio/burn_buf/Export
/tool/studio/burn_buf/Resources/anim_elem_PList.Dir
/tool/studio/anim_hide/Backup
/tool/studio/anim_hide/Export
/tool/studio/anim_hide/Resources/anim_elem_PList.Dir
/tool/studio/clear_buf/Backup
/tool/studio/clear_buf/Export
/tool/studio/clear_buf/Resources/anim_elem_PList.Dir
/tool/zgc_ui/card_elem/Export
/tool/zgc_ui/select/Export
/tool/zgc_ui/select/Resources/ui_elem_PList.Dir
/tool/zgc_ui/select/Backup
/tool/studio/secret_enter/Export
/tool/studio/secret_enter/Backup
/tool/studio/secret_enter/Resources/ui_elem_PList.Dir

/tool/studio/to_rush/Backup

/tool/studio/to_rush/Export

/tool/studio/to_rush/Resources/anim_elem2_PList.Dir
/tool/studio/damage_atkadd/Backup
/tool/studio/damage_atkadd/Export
/tool/studio/damage_atkadd/Resources/anim_elem2_PList.Dir
/tool/studio/kill/Backup
/tool/studio/kill/Export
/tool/studio/kill/Resources/anim_elem2_PList.Dir
/tool/studio/kill_/Backup
/tool/studio/kill_/Resources/anim_elem_PList.Dir
/tool/studio/absorb/Backup
/tool/studio/absorb/Export

/tool/studio/absorb/Resources/anim_elem2_PList.Dir

/tool/studio/gen_circle/Resources/anim_elem_PList.Dir/gen_rotate.png

/tool/studio/gen_circle/Backup/NormalCloseTag.xml
/tool/studio/yinu/Backup
/tool/studio/yinu/Export
/tool/studio/yinu/Resources/anim_elem2_PList.Dir
/tool/studio/quest_i/Backup
/tool/studio/quest_i/Export
/tool/studio/quest_i/Resources/anim_elem2_PList.Dir
/tool/studio/sp_rate/Backup
/tool/studio/sp_rate/Export
/tool/studio/sp_rate/Resources/anim_elem2_PList.Dir
/tool/studio/rush/Backup
/tool/studio/rush/Export
/tool/studio/rush/Resources/anim_elem2_PList.Dir
/tool/studio/dead_atkadd/Backup

/tool/studio/dead_atkadd/Export

/tool/studio/dead_atkadd/Resources/anim_elem_PList.Dir
/tool/studio/dead_curse/Backup
/tool/studio/dead_curse/Export
/tool/studio/dead_curse/Resources/anim_elem_PList.Dir
/tool/studio/kingkong_word/Backup
/tool/studio/kingkong_word/Resources/anim_elem_PList.Dir
/tool/studio/curse_dead/Backup
/tool/studio/curse_dead/Resources/anim_elem_PList.Dir
/tool/studio/kingkong_word/Export
/tool/studio/curse/Backup
/tool/studio/curse/Export
/tool/studio/curse/Resources/anim_elem_PList.Dir
