<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>active_green_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,362},{26,137}}</string>
                <key>offset</key>
                <string>{-58,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,54},{26,137}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,190},{26,133}}</string>
                <key>offset</key>
                <string>{-59,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,44},{26,133}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,323},{26,131}}</string>
                <key>offset</key>
                <string>{-59,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{26,131}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,380},{22,129}}</string>
                <key>offset</key>
                <string>{-57,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{22,129}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,118},{22,107}}</string>
                <key>offset</key>
                <string>{-57,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{22,107}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,212},{54,75}}</string>
                <key>offset</key>
                <string>{-45,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{54,75}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,271},{68,57}}</string>
                <key>offset</key>
                <string>{-34,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{68,57}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,165},{82,45}}</string>
                <key>offset</key>
                <string>{-27,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{82,45}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,142},{104,21}}</string>
                <key>offset</key>
                <string>{-17,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{104,21}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{132,21}}</string>
                <key>offset</key>
                <string>{-9,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{132,21}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,244},{132,25}}</string>
                <key>offset</key>
                <string>{5,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{132,25}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,160},{86,47}}</string>
                <key>offset</key>
                <string>{24,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,9},{86,47}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,85},{138,73}}</string>
                <key>offset</key>
                <string>{-2,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{138,73}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{138,81}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{138,81}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,248},{28,109}}</string>
                <key>offset</key>
                <string>{59,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,3},{28,109}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,380},{28,127}}</string>
                <key>offset</key>
                <string>{59,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,0},{28,127}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,190},{28,131}}</string>
                <key>offset</key>
                <string>{59,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,13},{28,131}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,218},{24,133}}</string>
                <key>offset</key>
                <string>{58,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,26},{24,133}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,359},{28,133}}</string>
                <key>offset</key>
                <string>{59,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,40},{28,133}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,160},{28,133}}</string>
                <key>offset</key>
                <string>{59,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,54},{28,133}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{26,129}}</string>
                <key>offset</key>
                <string>{58,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,63},{26,129}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,268},{50,67}}</string>
                <key>offset</key>
                <string>{42,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,119},{50,67}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{138,187}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{138,187}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,187}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{138,187}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,380},{114,33}}</string>
                <key>offset</key>
                <string>{14,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,153},{114,33}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,136},{110,21}}</string>
                <key>offset</key>
                <string>{5,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,165},{110,21}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,248},{112,33}}</string>
                <key>offset</key>
                <string>{-9,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,153},{112,33}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,380},{114,39}}</string>
                <key>offset</key>
                <string>{-18,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,147},{114,39}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,160},{86,47}}</string>
                <key>offset</key>
                <string>{-25,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,139},{86,47}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{62,187}}</string>
                <key>offset</key>
                <string>{-40,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,187}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>active_green_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,66},{50,187}}</string>
                <key>offset</key>
                <string>{-46,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{50,187}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>active_green.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e37ce6708c9a38da2a27d5ee6c04d3da$</string>
            <key>textureFileName</key>
            <string>active_green.png</string>
        </dict>
    </dict>
</plist>
