<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_cast3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{96,92}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,100},{96,92}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,326},{96,92}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,100},{96,92}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,228},{94,96}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,98},{94,96}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,104},{96,94}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,99},{96,94}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,420},{94,90}}</string>
                <key>offset</key>
                <string>{-7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,101},{94,90}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{92,92}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,100},{92,92}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{68,72}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,110},{68,72}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,154},{88,124}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,51},{88,124}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{94,120}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,53},{94,120}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,292},{100,126}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,49},{100,126}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{104,132}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,46},{104,132}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{112,136}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,43},{112,136}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,150}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,24},{118,150}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,420},{90,88}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,23},{90,88}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{100,98}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,23},{100,98}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hero_cast3_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,124},{102,92}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,30},{102,92}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_cast3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d4946f70a85721dab489164d4e457cd$</string>
            <key>textureFileName</key>
            <string>hero_cast3.png</string>
        </dict>
    </dict>
</plist>
