<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice_break_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{64,70}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,47},{64,70}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ice_break_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{90,92}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,35},{90,92}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ice_break_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{100,96}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{100,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ice_break_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,86},{100,94}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{100,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ice_break_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,182},{100,84}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,38},{100,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ice_break_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,100},{100,84}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,38},{100,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ice_break_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{100,84}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,38},{100,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ice_break_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,166},{100,84}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,38},{100,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ice_break_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{130,80}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,41},{130,80}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ice_break_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,252},{100,78}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,43},{100,78}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ice_break_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{110,78}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,43},{110,78}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ice_break_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,84},{120,80}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,41},{120,80}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ice_break_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{128,82}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,41},{128,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ice_break_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,84}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{136,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ice_break.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7197507d7e757669dd96b214a38fe9a$</string>
            <key>textureFileName</key>
            <string>ice_break.png</string>
        </dict>
    </dict>
</plist>
