<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pre_cast_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,90}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>pre_cast_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{146,82}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{146,82}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>pre_cast_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,92},{146,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{146,76}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>pre_cast_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{146,88}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>pre_cast_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{146,74}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{146,74}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>pre_cast_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,86},{146,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{146,76}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>pre_cast_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,164},{146,70}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{146,70}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>pre_cast_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{146,68}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{146,68}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>pre_cast_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{126,68}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{126,68}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>pre_cast_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{88,60}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,24},{88,60}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>pre_cast_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,92},{80,58}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,25},{80,58}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>pre_cast_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,174},{74,54}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,28},{74,54}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>pre_cast_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{68,48}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{68,48}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pre_cast.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8b5631c6b895f4b004eadc878a92296$</string>
            <key>textureFileName</key>
            <string>pre_cast.png</string>
        </dict>
    </dict>
</plist>
