<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire_group.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{150,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,206}}</string>
                <key>sourceSize</key>
                <string>{150,206}</string>
            </dict>
            <key>gold_group.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{150,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,206}}</string>
                <key>sourceSize</key>
                <string>{150,206}</string>
            </dict>
            <key>pic_21002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{154,764},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_21003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{306,702},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_21004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_21005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{154,642},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_21006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{306,580},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_21007.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_22001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{154,520},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_22002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{306,458},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_22003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_22004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{154,398},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_23001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_23002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{362,306},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_23003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{210,276},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_23004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{362,154},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_23005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{210,154},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pp_21006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{150,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,25}}</string>
                <key>sourceSize</key>
                <string>{150,25}</string>
            </dict>
            <key>water_group.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,206}}</string>
                <key>sourceSize</key>
                <string>{150,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>photo_soldier2.jpg</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f57ca746d5870284fc85604c15eb46c1$</string>
            <key>textureFileName</key>
            <string>photo_soldier2.jpg</string>
        </dict>
    </dict>
</plist>
