<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic_30001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1674,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_30002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1522,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_30003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1370,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_30006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1218,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_30007.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1066,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_30009.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{914,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_30011.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{762,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_30014.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{610,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_30015.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{458,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{306,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{154,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1826,246},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31016.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1674,246},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31017.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1522,246},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31018.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1370,246},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31019.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1218,246},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31020.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1066,246},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31021.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{914,246},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31022.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{762,246},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31023.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{610,246},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31024.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{154,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31025.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{458,246},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31026.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{306,246},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31027.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{154,246},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31028.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_31029.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1826,124},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_32001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1674,124},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_32002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1522,124},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_32003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1370,124},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_32004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1218,124},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_32005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1066,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_32006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1066,124},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_32007.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{914,124},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_32008.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{762,124},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_32009.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{610,124},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_32010.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{458,124},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_32011.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{306,124},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_32012.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{154,124},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_32013.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_33001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1826,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_33002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1674,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_33003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_33004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_33005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_33006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_33007.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_33008.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_33009.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_33012.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_33013.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_33013_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_33014.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic_skill_def.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1066,368},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>photo_skill.jpg</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5319350f52b47abc09b32fa5f41efe18$</string>
            <key>textureFileName</key>
            <string>photo_skill.jpg</string>
        </dict>
    </dict>
</plist>
