<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t_10001.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{82,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{82,28}}</string>
                <key>sourceSize</key>
                <string>{104,40}</string>
            </dict>
            <key>t_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{79,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{79,28}}</string>
                <key>sourceSize</key>
                <string>{101,38}</string>
            </dict>
            <key>t_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{82,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{82,29}}</string>
                <key>sourceSize</key>
                <string>{106,41}</string>
            </dict>
            <key>t_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,458},{52,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{52,29}}</string>
                <key>sourceSize</key>
                <string>{70,39}</string>
            </dict>
            <key>t_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{56,28}}</string>
                <key>sourceSize</key>
                <string>{74,38}</string>
            </dict>
            <key>t_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,304},{77,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{77,27}}</string>
                <key>sourceSize</key>
                <string>{101,37}</string>
            </dict>
            <key>t_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,333},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{56,28}}</string>
                <key>sourceSize</key>
                <string>{74,38}</string>
            </dict>
            <key>t_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{55,27}}</string>
                <key>sourceSize</key>
                <string>{75,37}</string>
            </dict>
            <key>t_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,422},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{53,29}}</string>
                <key>sourceSize</key>
                <string>{73,37}</string>
            </dict>
            <key>t_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,311},{57,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{57,28}}</string>
                <key>sourceSize</key>
                <string>{67,30}</string>
            </dict>
            <key>t_20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,400},{53,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{53,29}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>t_20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,450},{49,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{49,28}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>t_20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,341},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{54,24}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>t_20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,397},{51,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{51,30}}</string>
                <key>sourceSize</key>
                <string>{67,40}</string>
            </dict>
            <key>t_20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{113,29}}</string>
                <key>sourceSize</key>
                <string>{145,37}</string>
            </dict>
            <key>t_20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,32},{109,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{109,29}}</string>
                <key>sourceSize</key>
                <string>{139,37}</string>
            </dict>
            <key>t_20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{106,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{106,29}}</string>
                <key>sourceSize</key>
                <string>{134,39}</string>
            </dict>
            <key>t_20016.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,311},{54,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{54,30}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
            <key>t_20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,453},{50,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
            <key>t_20018.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,246},{82,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>t_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{83,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{83,29}}</string>
                <key>sourceSize</key>
                <string>{105,39}</string>
            </dict>
            <key>t_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{108,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{108,29}}</string>
                <key>sourceSize</key>
                <string>{138,39}</string>
            </dict>
            <key>t_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,453},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{53,28}}</string>
                <key>sourceSize</key>
                <string>{69,40}</string>
            </dict>
            <key>t_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,363},{55,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{55,29}}</string>
                <key>sourceSize</key>
                <string>{73,41}</string>
            </dict>
            <key>t_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{108,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{108,25}}</string>
                <key>sourceSize</key>
                <string>{138,37}</string>
            </dict>
            <key>t_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,63},{108,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{108,30}}</string>
                <key>sourceSize</key>
                <string>{136,40}</string>
            </dict>
            <key>t_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,155},{106,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{106,29}}</string>
                <key>sourceSize</key>
                <string>{136,37}</string>
            </dict>
            <key>t_30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,220},{82,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{82,29}}</string>
                <key>sourceSize</key>
                <string>{104,39}</string>
            </dict>
            <key>t_30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,341},{55,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{55,29}}</string>
                <key>sourceSize</key>
                <string>{73,37}</string>
            </dict>
            <key>t_30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,367},{51,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{51,30}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>t_30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,276},{81,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{81,26}}</string>
                <key>sourceSize</key>
                <string>{107,36}</string>
            </dict>
            <key>t_30013.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,281},{78,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{78,28}}</string>
                <key>sourceSize</key>
                <string>{102,36}</string>
            </dict>
            <key>t_30014.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,251},{81,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{81,28}}</string>
                <key>sourceSize</key>
                <string>{103,38}</string>
            </dict>
            <key>t_30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{76,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{76,27}}</string>
                <key>sourceSize</key>
                <string>{102,37}</string>
            </dict>
            <key>t_30016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{107,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{107,27}}</string>
                <key>sourceSize</key>
                <string>{139,39}</string>
            </dict>
            <key>t_30017.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,125},{107,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{107,28}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>t_30018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{108,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{108,30}}</string>
                <key>sourceSize</key>
                <string>{122,30}</string>
            </dict>
            <key>t_30019.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,394},{55,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{55,26}}</string>
                <key>sourceSize</key>
                <string>{69,30}</string>
            </dict>
            <key>t_30020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{53,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{53,28}}</string>
                <key>sourceSize</key>
                <string>{69,30}</string>
            </dict>
            <key>t_30021.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,95},{108,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{108,28}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>t_30022.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,372},{55,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{55,26}}</string>
                <key>sourceSize</key>
                <string>{69,30}</string>
            </dict>
            <key>t_30023.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,186},{106,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{106,28}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>t_30024.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{110,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>t_30025.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,216},{83,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{83,28}}</string>
                <key>sourceSize</key>
                <string>{95,30}</string>
            </dict>
            <key>t_60001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{54,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{54,29}}</string>
                <key>sourceSize</key>
                <string>{74,41}</string>
            </dict>
            <key>t_60002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{52,29}}</string>
                <key>sourceSize</key>
                <string>{70,39}</string>
            </dict>
            <key>t_60003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{107,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{107,29}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>t_60004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,112},{106,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{106,30}}</string>
                <key>sourceSize</key>
                <string>{134,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f330c8a82dfb3162d07fca2d3f24ce0c$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
