<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,149},{72,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{72,26}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
            <key>t_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,172},{71,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{71,24}}</string>
                <key>sourceSize</key>
                <string>{77,28}</string>
            </dict>
            <key>t_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,91},{74,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>t_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,283},{47,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,26}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>t_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{51,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,27}}</string>
                <key>sourceSize</key>
                <string>{57,29}</string>
            </dict>
            <key>t_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,177},{70,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{70,26}}</string>
                <key>sourceSize</key>
                <string>{76,30}</string>
            </dict>
            <key>t_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,197},{51,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,26}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>t_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,252},{49,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{49,25}}</string>
                <key>sourceSize</key>
                <string>{55,29}</string>
            </dict>
            <key>t_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,232},{48,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,27}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>t_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,144},{74,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>t_20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,280},{50,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{50,25}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>t_20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,307},{47,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{47,26}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>t_20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,233},{49,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,25}}</string>
                <key>sourceSize</key>
                <string>{55,31}</string>
            </dict>
            <key>t_20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,213},{50,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
            <key>t_20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,306},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{24,25}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>t_21001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{102,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{102,25}}</string>
                <key>sourceSize</key>
                <string>{106,29}</string>
            </dict>
            <key>t_21002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,60},{98,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,25}}</string>
                <key>sourceSize</key>
                <string>{100,29}</string>
            </dict>
            <key>t_21003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{95,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,27}}</string>
                <key>sourceSize</key>
                <string>{97,27}</string>
            </dict>
            <key>t_21004.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,265},{49,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{49,26}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>t_21005.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{100,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{100,27}}</string>
                <key>sourceSize</key>
                <string>{106,29}</string>
            </dict>
            <key>t_21006.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,121},{74,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,26}}</string>
                <key>sourceSize</key>
                <string>{78,28}</string>
            </dict>
            <key>t_21007.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,278},{48,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,26}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>t_21008.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,287},{45,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{45,26}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>t_22001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{105,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{107,28}</string>
            </dict>
            <key>t_22002.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,294},{48,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,24}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>t_22003.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{120,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{120,25}}</string>
                <key>sourceSize</key>
                <string>{126,29}</string>
            </dict>
            <key>t_22004.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,205},{50,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,26}}</string>
                <key>sourceSize</key>
                <string>{54,30}</string>
            </dict>
            <key>t_23001.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,294},{48,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,24}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>t_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,168},{73,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,25}}</string>
                <key>sourceSize</key>
                <string>{77,33}</string>
            </dict>
            <key>t_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,118},{95,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{95,22}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>t_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,168},{74,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,25}}</string>
                <key>sourceSize</key>
                <string>{78,25}</string>
            </dict>
            <key>t_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,144},{95,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,29}}</string>
                <key>sourceSize</key>
                <string>{99,31}</string>
            </dict>
            <key>t_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,90},{95,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{95,26}}</string>
                <key>sourceSize</key>
                <string>{99,30}</string>
            </dict>
            <key>t_30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,250},{48,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>t_30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,232},{73,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{73,23}}</string>
                <key>sourceSize</key>
                <string>{77,27}</string>
            </dict>
            <key>t_30013.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,31},{98,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,29}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>t_30014.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,224},{73,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,27}}</string>
                <key>sourceSize</key>
                <string>{75,31}</string>
            </dict>
            <key>t_30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,198},{70,25}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{70,25}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>t_30025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{83,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{83,28}}</string>
                <key>sourceSize</key>
                <string>{95,30}</string>
            </dict>
            <key>t_31001.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,87},{97,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>t_31002.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,233},{48,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,26}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>t_31003.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,195},{73,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{73,27}}</string>
                <key>sourceSize</key>
                <string>{77,31}</string>
            </dict>
            <key>t_31004.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,149},{46,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,27}}</string>
                <key>sourceSize</key>
                <string>{50,29}</string>
            </dict>
            <key>t_31016.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,117},{95,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,25}}</string>
                <key>sourceSize</key>
                <string>{97,27}</string>
            </dict>
            <key>t_31017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,25}}</string>
                <key>sourceSize</key>
                <string>{100,29}</string>
            </dict>
            <key>t_31018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{97,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,28}}</string>
                <key>sourceSize</key>
                <string>{99,30}</string>
            </dict>
            <key>t_31019.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,253},{50,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,25}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>t_31020.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,279},{48,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{48,25}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>t_31021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{97,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{97,25}}</string>
                <key>sourceSize</key>
                <string>{101,29}</string>
            </dict>
            <key>t_31022.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,225},{50,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{50,25}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>t_31023.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,90},{95,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{95,25}}</string>
                <key>sourceSize</key>
                <string>{99,31}</string>
            </dict>
            <key>t_31024.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,34},{98,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,26}}</string>
                <key>sourceSize</key>
                <string>{102,26}</string>
            </dict>
            <key>t_31025.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,260},{48,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,25}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>t_32001.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,175},{93,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,27}}</string>
                <key>sourceSize</key>
                <string>{97,27}</string>
            </dict>
            <key>t_32002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,62},{95,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,26}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>t_32003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,243},{49,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,26}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>t_32004.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,62},{95,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{95,26}}</string>
                <key>sourceSize</key>
                <string>{101,28}</string>
            </dict>
            <key>t_32005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{123,27}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>t_32006.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,204},{92,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,26}}</string>
                <key>sourceSize</key>
                <string>{96,28}</string>
            </dict>
            <key>t_32007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{93,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,26}}</string>
                <key>sourceSize</key>
                <string>{97,28}</string>
            </dict>
            <key>t_32008.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,142},{94,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,24}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>t_32009.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,117},{96,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,25}}</string>
                <key>sourceSize</key>
                <string>{98,29}</string>
            </dict>
            <key>t_32010.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,60},{95,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,27}}</string>
                <key>sourceSize</key>
                <string>{99,29}</string>
            </dict>
            <key>t_32011.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,62},{75,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{75,27}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>t_60001.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,157},{54,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{54,29}}</string>
                <key>sourceSize</key>
                <string>{74,41}</string>
            </dict>
            <key>t_60002.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,31},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{52,29}}</string>
                <key>sourceSize</key>
                <string>{70,39}</string>
            </dict>
            <key>t_60004.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{106,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{106,30}}</string>
                <key>sourceSize</key>
                <string>{134,40}</string>
            </dict>
            <key>t_62001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,29},{106,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{106,29}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:165faf7f7615571c43b71e324c1e36d4$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
