<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,391},{72,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{72,26}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
            <key>t_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,486},{71,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{71,24}}</string>
                <key>sourceSize</key>
                <string>{77,28}</string>
            </dict>
            <key>t_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,182},{74,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>t_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,440},{47,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,26}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>t_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,176},{51,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,27}}</string>
                <key>sourceSize</key>
                <string>{57,29}</string>
            </dict>
            <key>t_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,318},{70,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{70,26}}</string>
                <key>sourceSize</key>
                <string>{76,30}</string>
            </dict>
            <key>t_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{51,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,26}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>t_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,326},{49,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{49,25}}</string>
                <key>sourceSize</key>
                <string>{55,29}</string>
            </dict>
            <key>t_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,205},{48,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,27}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>t_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,391},{74,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>t_20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{50,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{50,25}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>t_20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,391},{47,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{47,26}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>t_20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,259},{49,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,25}}</string>
                <key>sourceSize</key>
                <string>{55,31}</string>
            </dict>
            <key>t_20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,195},{50,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
            <key>t_20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,391},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{24,25}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>t_21001.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,60},{102,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{102,25}}</string>
                <key>sourceSize</key>
                <string>{106,29}</string>
            </dict>
            <key>t_21002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,172},{98,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,25}}</string>
                <key>sourceSize</key>
                <string>{100,29}</string>
            </dict>
            <key>t_21003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,201},{95,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,27}}</string>
                <key>sourceSize</key>
                <string>{97,27}</string>
            </dict>
            <key>t_21004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{49,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{49,26}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>t_21005.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,87},{100,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{100,27}}</string>
                <key>sourceSize</key>
                <string>{106,29}</string>
            </dict>
            <key>t_21006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,391},{74,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,26}}</string>
                <key>sourceSize</key>
                <string>{78,28}</string>
            </dict>
            <key>t_21007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,290},{48,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,26}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>t_21008.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,465},{45,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{45,26}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>t_22001.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,32},{105,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{107,28}</string>
            </dict>
            <key>t_22002.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,258},{48,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,24}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>t_22003.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,31},{120,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{120,25}}</string>
                <key>sourceSize</key>
                <string>{126,29}</string>
            </dict>
            <key>t_22004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{50,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,26}}</string>
                <key>sourceSize</key>
                <string>{54,30}</string>
            </dict>
            <key>t_23001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{120,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,27}}</string>
                <key>sourceSize</key>
                <string>{120,27}</string>
            </dict>
            <key>t_23002.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,318},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{71,25}}</string>
                <key>sourceSize</key>
                <string>{79,29}</string>
            </dict>
            <key>t_23003.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,120},{97,27}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,27}}</string>
                <key>sourceSize</key>
                <string>{99,31}</string>
            </dict>
            <key>t_23004.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{143,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{143,27}}</string>
                <key>sourceSize</key>
                <string>{145,29}</string>
            </dict>
            <key>t_23005.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,58},{108,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,25}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>t_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,391},{73,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,25}}</string>
                <key>sourceSize</key>
                <string>{77,33}</string>
            </dict>
            <key>t_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,281},{95,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{95,22}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>t_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,391},{74,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,25}}</string>
                <key>sourceSize</key>
                <string>{78,25}</string>
            </dict>
            <key>t_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,85},{95,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,29}}</string>
                <key>sourceSize</key>
                <string>{99,31}</string>
            </dict>
            <key>t_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,199},{95,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{95,26}}</string>
                <key>sourceSize</key>
                <string>{99,30}</string>
            </dict>
            <key>t_30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,262},{48,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>t_30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{73,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{73,23}}</string>
                <key>sourceSize</key>
                <string>{77,27}</string>
            </dict>
            <key>t_30013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{98,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,29}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>t_30014.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,251},{73,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,27}}</string>
                <key>sourceSize</key>
                <string>{75,31}</string>
            </dict>
            <key>t_30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,318},{70,25}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{70,25}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>t_30025.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{83,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{83,28}}</string>
                <key>sourceSize</key>
                <string>{95,30}</string>
            </dict>
            <key>t_31001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{97,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>t_31002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,234},{48,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,26}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>t_31003.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,176},{73,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{73,27}}</string>
                <key>sourceSize</key>
                <string>{77,31}</string>
            </dict>
            <key>t_31004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,391},{46,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,27}}</string>
                <key>sourceSize</key>
                <string>{50,29}</string>
            </dict>
            <key>t_31016.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,254},{95,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,25}}</string>
                <key>sourceSize</key>
                <string>{97,27}</string>
            </dict>
            <key>t_31017.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,145},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,25}}</string>
                <key>sourceSize</key>
                <string>{100,29}</string>
            </dict>
            <key>t_31018.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,90},{97,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,28}}</string>
                <key>sourceSize</key>
                <string>{99,30}</string>
            </dict>
            <key>t_31019.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,232},{50,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,25}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>t_31020.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,317},{48,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{48,25}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>t_31021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{97,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,26}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
            <key>t_31022.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,205},{50,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{50,25}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>t_31023.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,227},{95,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{95,25}}</string>
                <key>sourceSize</key>
                <string>{99,31}</string>
            </dict>
            <key>t_31024.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,144},{98,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,26}}</string>
                <key>sourceSize</key>
                <string>{102,26}</string>
            </dict>
            <key>t_31025.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,318},{48,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,25}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>t_32001.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,391},{93,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,27}}</string>
                <key>sourceSize</key>
                <string>{97,27}</string>
            </dict>
            <key>t_32002.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,199},{95,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,26}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>t_32003.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,259},{49,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,26}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>t_32004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,230},{95,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{95,26}}</string>
                <key>sourceSize</key>
                <string>{101,28}</string>
            </dict>
            <key>t_32005.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{123,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{123,27}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>t_32006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{92,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,26}}</string>
                <key>sourceSize</key>
                <string>{96,28}</string>
            </dict>
            <key>t_32007.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,296},{93,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,26}}</string>
                <key>sourceSize</key>
                <string>{97,28}</string>
            </dict>
            <key>t_32008.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,391},{94,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,24}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>t_32009.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,149},{96,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,25}}</string>
                <key>sourceSize</key>
                <string>{98,29}</string>
            </dict>
            <key>t_32010.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,172},{95,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,27}}</string>
                <key>sourceSize</key>
                <string>{99,29}</string>
            </dict>
            <key>t_32011.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,240},{75,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{75,27}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>t_33001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{123,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{123,25}}</string>
                <key>sourceSize</key>
                <string>{125,29}</string>
            </dict>
            <key>t_33002.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,247},{48,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{48,28}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>t_33003.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,144},{94,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{94,28}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>t_33004.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,116},{99,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{101,26}</string>
            </dict>
            <key>t_33005.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,31},{122,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{122,26}}</string>
                <key>sourceSize</key>
                <string>{126,30}</string>
            </dict>
            <key>t_33006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,176},{48,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,27}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>t_33007.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,297},{92,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,24}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>t_33008.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,115},{96,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{96,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>t_33009.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,326},{49,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,24}}</string>
                <key>sourceSize</key>
                <string>{51,26}</string>
            </dict>
            <key>t_33010.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,85},{98,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,28}}</string>
                <key>sourceSize</key>
                <string>{98,30}</string>
            </dict>
            <key>t_33011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{94,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,25}}</string>
                <key>sourceSize</key>
                <string>{100,27}</string>
            </dict>
            <key>t_33012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{145,27}}</string>
                <key>sourceSize</key>
                <string>{151,29}</string>
            </dict>
            <key>t_33013.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,467},{47,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{49,27}</string>
            </dict>
            <key>t_33014.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,439},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{46,26}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>t_60001.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,139},{54,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{54,29}}</string>
                <key>sourceSize</key>
                <string>{74,41}</string>
            </dict>
            <key>t_60002.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,90},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{52,29}}</string>
                <key>sourceSize</key>
                <string>{70,39}</string>
            </dict>
            <key>t_60004.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,31},{106,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{106,30}}</string>
                <key>sourceSize</key>
                <string>{134,40}</string>
            </dict>
            <key>t_62001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,59},{106,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{106,29}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a7a780907e79b5188e5c874a649b6b4$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
