<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>lualib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>mylua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>test_lua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>zgc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>816861A21896948D00789DE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>816861AF1896948D00789DE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8168633418969AA400789DE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8168634118969AA500789DE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8168635A18969AE100789DE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8168636718969AE100789DE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A31274189624F8006CBB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A31281189624F8006CBB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A6A504189663770039FF68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A6A511189663770039FF68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
