<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>absolute_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{112,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>anim_sheep.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,242},{104,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{104,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>anim_strong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{86,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{86,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gen_rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gloden_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,126},{120,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{120,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gold_shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{122,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_elem.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3477a5dd9e4a23de36cab849436a4ac7$</string>
            <key>textureFileName</key>
            <string>anim_elem.png</string>
        </dict>
    </dict>
</plist>
