<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firewall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>glowaion03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,124}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>health-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,244},{62,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hp_bless.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{62,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>jiagongjibuff.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,128},{60,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>jiasu.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,212},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{56,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>quest_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,112},{56,54}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>skull_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,178},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sp_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,194},{60,60}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>state_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{112,108}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{112,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wuti_00125.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,256},{64,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xiaolian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yinu.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,168},{56,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{56,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yun.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,112},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhongdubuff.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,246},{64,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_elem2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b0edb433e798451e9b72d4331e7114d$</string>
            <key>textureFileName</key>
            <string>anim_elem2.png</string>
        </dict>
    </dict>
</plist>
