<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rare_enter_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,466},{104,52}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,190},{104,52}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,468},{106,58}}</string>
                <key>offset</key>
                <string>{-7,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,189},{106,58}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,468},{128,62}}</string>
                <key>offset</key>
                <string>{-7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,180},{128,62}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,172},{138,88}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,155},{138,88}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{138,130}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,111},{138,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,262},{132,154}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,87},{132,154}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,528},{148,174}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,77},{148,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,274},{164,192}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,69},{164,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,770},{170,202}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,64},{170,202}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,274},{158,190}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,71},{158,190}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,550},{164,218}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,63},{164,218}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{192,260}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{192,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{202,270}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,36},{202,270}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,274}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,30},{212,274}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{218,270}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,36},{218,270}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{218,270}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,35},{218,270}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>rare_enter_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{154,168}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,91},{154,168}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rare_enter.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4f813a676cbe8057729e671e44d8db4$</string>
            <key>textureFileName</key>
            <string>rare_enter.png</string>
        </dict>
    </dict>
</plist>
