<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,228}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,228}}</string>
                <key>sourceSize</key>
                <string>{239,228}</string>
            </dict>
            <key>pop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{157,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,39}}</string>
                <key>sourceSize</key>
                <string>{157,39}</string>
            </dict>
            <key>short_but_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,270},{78,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,36}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>short_but_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,232},{78,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,36}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popMsg.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18a7848a464b863a3c804b27132f94cc$</string>
            <key>textureFileName</key>
            <string>popMsg.png</string>
        </dict>
    </dict>
</plist>
