<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>absolute_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{112,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>anim_curse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{120,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{120,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>anim_curse_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,176},{64,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>anim_guider.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>anim_heal.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,262},{114,128}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>anim_sheep.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,90},{104,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{104,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>anim_strong.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{86,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{86,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>buf_abs_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,176},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>buf_dead_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,218},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>buf_gold_shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,184},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>buf_golden_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,116},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>buf_guider.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,150},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>buf_strong.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,116},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dead_add_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{114,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{114,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gen_rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gloden_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,392},{120,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{120,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gold_shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{122,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_elem.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8271da2e5834fc1d7ef72e453b108103$</string>
            <key>textureFileName</key>
            <string>anim_elem.png</string>
        </dict>
    </dict>
</plist>
