<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CG_page_down_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,352},{41,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,58}}</string>
                <key>sourceSize</key>
                <string>{41,58}</string>
            </dict>
            <key>CG_page_up_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,352},{41,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,58}}</string>
                <key>sourceSize</key>
                <string>{41,58}</string>
            </dict>
            <key>back_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,466},{39,35}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{39,35}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>card_add_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,110},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>card_edit_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{129,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,84}}</string>
                <key>sourceSize</key>
                <string>{129,84}</string>
            </dict>
            <key>card_grid_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,210},{184,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,30}}</string>
                <key>sourceSize</key>
                <string>{184,30}</string>
            </dict>
            <key>card_grid_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{184,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,30}}</string>
                <key>sourceSize</key>
                <string>{184,30}</string>
            </dict>
            <key>card_sub_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,466},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>cost_icon_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{52,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{52,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cost_icon_big2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{56,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fire_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,460},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{50,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gold_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,460},{50,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{50,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hero_group_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,393},{65,65}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{65,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>hero_group_but2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,395},{69,69}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{69,69}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>mud_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{52,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>new_card_group.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,206}}</string>
                <key>sourceSize</key>
                <string>{150,206}</string>
            </dict>
            <key>selected01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,60},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>selected02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,344},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>skill_group_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,277},{65,65}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{65,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>skill_group_but2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,281},{69,69}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{69,69}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>soldier_group_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,210},{65,65}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{65,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>soldier_group_but2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,210},{69,69}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{69,69}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>tree_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,149},{52,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{52,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>water_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{56,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>x_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,56},{46,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{46,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>x_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{46,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{46,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_sort.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98d20ba359b322baa8ccba289a71d4dc$</string>
            <key>textureFileName</key>
            <string>card_sort.png</string>
        </dict>
    </dict>
</plist>
