<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>but_ok01.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,225},{98,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{98,50}}</string>
                <key>sourceSize</key>
                <string>{102,52}</string>
            </dict>
            <key>but_ok02.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,225},{98,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{98,50}}</string>
                <key>sourceSize</key>
                <string>{102,52}</string>
            </dict>
            <key>but_turn_end1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{147,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,52}}</string>
                <key>sourceSize</key>
                <string>{147,52}</string>
            </dict>
            <key>but_turn_end2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,274},{145,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,50}}</string>
                <key>sourceSize</key>
                <string>{147,52}</string>
            </dict>
            <key>but_your_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{145,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{145,50}}</string>
                <key>sourceSize</key>
                <string>{147,52}</string>
            </dict>
            <key>card_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{140,170}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,36},{140,170}}</string>
                <key>sourceSize</key>
                <string>{150,206}</string>
            </dict>
            <key>hit_panle.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,274},{91,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{91,107}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>my_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{300,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,78}}</string>
                <key>sourceSize</key>
                <string>{300,78}</string>
            </dict>
            <key>play_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,144},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pop_msg_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,144},{156,128}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{156,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>rec_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,110},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>res_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{72,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,32}}</string>
                <key>sourceSize</key>
                <string>{72,32}</string>
            </dict>
            <key>select_card_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{301,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{301,63}}</string>
                <key>sourceSize</key>
                <string>{303,65}</string>
            </dict>
            <key>stop_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,76},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>your_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{300,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,76}}</string>
                <key>sourceSize</key>
                <string>{300,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_elem.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c049c82ea58cacc32653ba10e716c1aa$</string>
            <key>textureFileName</key>
            <string>battle_elem.png</string>
        </dict>
    </dict>
</plist>
